#page-container {
    position: relative;
    width:100%;
    padding-top: 120px;
    min-height: 100vh;
    background-color: whitesmoke;
}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    height: 100px;
}

#content-wrap {
    background-color: whitesmoke;
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 100;
    font-size: small;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 3px 7px;
    font-size: 16px;
    cursor: pointer;
}

.MYMenuClass {
    color: grey;
    background-color: whitesmoke;
    width: 100%;
    font-size:12px;
}

    .MYMenuClass ul {
        background-color: whitesmoke;
        margin: 0;
        padding: 0;
    }

        .MYMenuClass ul li {
            background: whitesmoke none no-repeat;
            text-align: center; /* set width if needed.*/
            width: 250PX;
        }

.MYMenuClass ul li a 
{
    color: black;
    padding: 4px 2px 4px;
}

    .MYMenuClass ul li a:hover {
        background-color: skyblue;
        background-image: none;
    }

.Table1 {
    font-family:Verdana;
    border-collapse: initial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    font-size:14px;
    height: 37px;
}

.margin {
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 13px;
    margin-left: 40px;
    resize: none;
    padding: 4px 7px 4px 40px;
}

.marginTextBox {
    border: 0px solid black;
    margin-left: 40px;
    resize: none;
}

.tableClass {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

    .tableClass td {
        border: 1px solid #808080;
        padding: 7px 9px 7px 20px;
    }

.CustomerHeader {
    background-color: SkyBlue;
}

.CustomerHeader th{
    text-align: center;
}

.custButtonCss {
    color: black;
    background-color: floralwhite;
    border: 1px groove black;
    margin: 10px auto 10px 40px;
}

    .custButtonCss:hover {
        color: black;
        background-color: skyblue;
    }
    .sizeAbbreviationTextbox {
        width: 80px;
    }

.underline {
    padding-bottom: 15px;
}

.spacing {
    padding-left: 10px;
}

.vendorRowSpacing{
    margin-top: 20px;
}

.spacingBottom {
    padding-bottom: 150px;
}

.spacingtop {
    line-height: 12px;
}

.required{
    color:red;
}

.nextPage{
    text-align:center;
    color: black;
    background-color: floralwhite;
    border: 1px groove black;
    margin: 10px 10px 10px 10px;
    
}

.nextPage:hover{
    color:black;
    background-color:skyblue;
}

.line {
    line-break: auto;
}

.partTable1 {
    text-align: left;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.linebreak{
    display: block;
}

.colSpan{
    column-span:all;
}